
body{
  background: grey;
  margin: auto;
  font-size: 1.1rem;
}

#header {
    text-align: center;
    line-height: 0.6;
}
#form{
  margin: auto;
  width: 600px;

}

#idform{
  display: flex;
  flex-direction: column;
}



@media (max-width: 800px) {
  #nav-bar{
    display: flex;
    flex-direction: column;
  }
}
